<footer class="footer">
  <p>
    Version:
    <a
      href="https://github.com/pantelx/actual-tracker-insert-api/commit/<%= fullCommitHash %>"
    >
      <%= commitHash %>
    </a>
  </p>
</footer>
