.env.production
.env.development
node_modules
data/*
!data/.gitkeep 
package-lock.json
pnpm-lock.yaml
logs/*
/public/js/adminPanel.min.js
/public/js/adminLogs.min.js
/public/js/transactionTracker.min.js
/public/css/style.min.css