<%- include('partials/header', { title: 'Login', jsFile: 'authLogin' }) %>
<body>
  <div class="container">
    <h1>Willkommen</h1>

    <%- include('partials/alerts') %>
    <div class="login-section">
      <button id="loginButton" class="button">Login</button>
    </div>

    <%- include('partials/footer') %>
  </div>
</body>
