<div class="tracker-switch">
  <% if (typeof navItems === 'object' && navItems.items) { %> <%
  navItems.items.forEach(function(item) { %>
  <a
    href="<%= item.url %>"
    class="<%= currentPage === item.id ? 'active' : '' %>"
  >
    <%= item.label %>
  </a>
  <% }); %> <% if (navItems.currentSection === 'admin') { %>
  <a href="/" class="section-link">Tracker</a>
  <a href="/schedules" class="section-link">Schedules</a>
  <a href="/user" class="section-link">User</a>

  <% } %> <% if (navItems.currentSection === 'tracker') { %>
  <a href="/schedules" class="section-link">Schedules</a>
  <a href="/user" class="section-link">User</a>

  <% } %> <% if (navItems.currentSection === 'tracker' &&
  userGroups.includes('global-admins')) { %>
  <a href="/admin" class="section-link">Admin</a>

  <% } %> <% if (navItems.currentSection === 'user') { %>
  <a href="/" class="section-link">Tracker</a>
  <a href="/schedules" class="section-link">Schedules</a>
  <% } %> <% if (navItems.currentSection === 'user' &&
  userGroups.includes('global-admins')) { %>
  <a href="/admin" class="section-link">Admin</a>

  <% } %> <% if (navItems.currentSection === 'schedules') { %>
  <a href="/" class="section-link">Tracker</a>
  <a href="/user" class="section-link">User</a>
  <% } %> <% if (navItems.currentSection === 'schedules' &&
  userGroups.includes('global-admins')) { %>
  <a href="/admin" class="section-link">Admin</a>

  <% } } %>

  <a href="/auth/logout">Logout</a>
</div>
